.cache/
.tmp/
.torch_extensions/

__pycache__/
**/__pycache__/
*.py[cod]
.DS_Store
*.log

miniconda3/
miniconda.sh

llama_2-7b/
Qwen2.5_7B/
wikitext-*/
c4/
logPersistence/
nsys_reports/

logs/
**/logs*/

*.nsys-rep
*.qdrep
*.sqlite

*.tar.gz
*.tgz
*.zip
*.deb
*.rpm

sparse_params*.pt

--*
